.profile-img{
	height: 150px;
	border-radius: 10px;
}

#portfolio{
	padding: 0;
}

header{
	border-bottom: 2px dashed #2C3E50
}

.portfolio-item{
	min-height: 150px;
}
.portfolio-sections{
	padding: 55px 0 0 0;
}

.portfolio-sections .heading{
	margin-bottom: 30px;
}

.portfolio-sections .description{
	font-size: 1.5em;
}
#portfolio .portfolio-item .tech-link{
	margin-bottom: 40px;
    /*margin-top: 40px;*/
}

.intro-text .page-scroll a{
	font-size: 20px;
	color: #fff;
}