.profile-img{
	height: 150px;
	border-radius: 10px;
}

#portfolio{
	padding: 0;
}

.portfolio-item{
	min-height: 150px;
}
.portfolio-sections{
	padding: 55px 0 0 0;
}

.portfolio-sections .heading{
	margin-bottom: 30px;
}

#portfolio .portfolio-item .tech-link{
	margin-bottom: 40px;
    /*margin-top: 40px;*/
}